@charset "utf-8";
/**
 * 版权所有：厦门畅享信息技术有限公司
 * Copyright 2014 Xiamen Sunsharing Information CO., LTD.
 * All right reserved.
 *====================================================
 * 文件名称: index.scss
 * 修订记录：
 * No    日期				作者(操作:具体内容)
 * 1.    2018/10/17			Administrator(创建:创建文件)
 *====================================================
 * 文件描述：(说明本文件需要实现的内容)
 *
 */
.clearfix:before,
.clearfix:after{
    display: table;
    content: " ";
}
.clearfix:after {
    clear: both;
}


#main{
    background-color: #EFEFEF;
}
/*#featurebar:before,*/
/*#featurebar:after{*/
    /*content: " ";*/
    /*display: table;*/
/*}*/
/*#featurebar:after{*/
    /*clear: both;*/
/*}*/
#featurebar{
    margin: -10px 0 8px;
    height: 33px;
}
#featurebar .nav li,
#featurebar .nav{
    float: left;
}
#featurebar .nav li .select-7{
    width: 140px;
}
#featurebar .actions{
    float: right;
}
.c-pri{
    width: 100px !important;
}

.container .colhead{
    border-top: 3px solid rgba(75,75,75,.85);
}
.container .table-condensed{
    table-layout: inherit;
}
.container tfoot{
    background-color: rgba(75,75,75,.85);
    height: 40px;
}
.container tfoot .table-actions{
    visibility: visible;
}